/*html, body {
  background-color: #;
}*/

.hide {
  display: none;
}

.input.error, .select.error, .textarea.error {
  margin-bottom: 20px;
}

header {
  margin-bottom: 50px;
}

.label {
  color: #333;
}
