<template name="header">
  <header>
    <h1 class="text-huge text-gray align-center">Clay Pigeon</h1>
    <div class="tabs">
      <a href="/add-user" title="Add User" class="tab add-user">Add User</a>
      <a href="/add-event" title="Add Event" class="tab add-event">Add Event</a>
      <a href="/add-wine" title="Add Wine" class="tab add-wine">Add Wine</a>
      <a href="/view-users" title="View Users" class="tab view-users">View Users</a>
      <a href="/view-events" title="View Events" class="tab view-events">View Events</a>
      <a href="/view-wines" title="View Wine" class="tab view-wines">View Wine</a>
      <!-- <a href="#" title="Login" class="tab">{{ > loginButtons }}</a> -->
    </div>
  </header>
</template>
