<template name="header">
  <!-- <header>
    <h1>___</h1>
    <ul class="nav nav-pills">
      <li class="tab add-user"><a href="/add-user" title="Add User">Add User</a></li>
      <li class="tab add-event"><a href="/add-event" title="Add Event">Add Event</a></li>
      <li class="tab add-wine"><a href="/add-wine" title="Add Wine">Add Wine</a></li>
      <li class="tab view-users"><a href="/view-users" title="View Users">View Users</a></li>
      <li class="tab view-events"><a href="/view-events" title="View Events">View Events</a></li>
      <li class="tab view-wines"><a href="/view-wines" title="View Wine">View Wine</a></li>
    </ul>
  </header> -->

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cp-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Clay Pigeon</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="cp-navbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Link</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add-user">Add User</a></li>
              <li><a href="/view-users">View Users</a></li>
              {{#if isAdmin}}<li><a href="/admin/register">Register User</a></li>{{/if}}
              <li><a href="#" class="logout">Logout</a></li>
              <!-- <li role="separator" class="divider"></li> -->
              <!-- <li><a href="#">Separated link</a></li> -->
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add-event">Add Event</a></li>
              <li><a href="/view-events">View Events</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wine <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add-wine">Add Wine</a></li>
              <li><a href="/view-wines">View Wine</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</template>
