<template name="header">
  <header>
    <h1>___</h1>
    <ul class="nav nav-pills">
      <li class="tab add-user"><a href="/add-user" title="Add User">Add User</a></li>
      <li class="tab add-event"><a href="/add-event" title="Add Event">Add Event</a></li>
      <li class="tab add-wine"><a href="/add-wine" title="Add Wine">Add Wine</a></li>
      <li class="tab view-users"><a href="/view-users" title="View Users">View Users</a></li>
      <li class="tab view-events"><a href="/view-events" title="View Events">View Events</a></li>
      <li class="tab view-wines"><a href="/view-wines" title="View Wine">View Wine</a></li>
    </ul>
  </header>
</template>
